**This Notebook contains the following examples** <br>
> &#9673; strftime: Date Formatting <br>
> &#9673; Converting datatime using a dataframe <br>
> &#9673; Displaying datetimes with timezones <br>
> &#9673; Given date as a string, convert to datetime object, store in dataframe and calculate other date related metrics (time, minute, hour day, day of week, ......) and append to dataframe <br>

In [4]:
#strftime: https://www.programiz.com/python-programming/datetime/strftime
import pandas as pd
import numpy as np
from datetime import datetime

now = datetime.now() # current date and time
year = now.strftime("%Y")
print("year:", year)
month = now.strftime("%m")
print("month:", month)
day = now.strftime("%d")
print("day:", day)
time = now.strftime("%H:%M:%S")
print("time:", time)
date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:",date_time)

year: 2019
month: 09
day: 05
time: 22:48:45
date and time: 09/05/2019, 22:48:45

In [5]:
#Converting datatime using a dataframe
from datetime import datetime
df = pd.DataFrame({'Jun 1 2005  1:33PM', 'Aug 28 1999 12:00AM', 'Aug 28 1999 12:00AM', 'May 01 2015 09:00AM','Jan 28 2012 12:00PM'}, columns = ['date'])
df['date'] = pd.to_datetime(df['date'], format='%b %d %Y %I:%M%p', utc=True)

#Displaying datetimes with timezones
df.set_index('date', inplace=True) #let’s use your date field as the dataframe’s index. This will give you a DatetimeIndex with lots of useful methods
df.index = df.index.tz_convert('America/Los_Angeles')
df.index = df.index.floor('1H') #To aggregate things on an hourly frequency, you have to round datetimes down to an hour.
df.head()

Empty DataFrame
Columns: []
Index: [2015-05-01 02:00:00-07:00, 1999-08-27 17:00:00-07:00, 2005-06-01 06:00:00-07:00, 2012-01-28 04:00:00-08:00]

In [6]:
#Given date as a string, convert to datetime object, store in dataframe and calculate other date related metrics 
#and append to dataframe

import time
from datetime import datetime

df = pd.DataFrame({'Jun 1 2005  1:33PM', 'Aug 28 1999 12:00AM', 'Aug 27 1999 12:00AM', 'May 01 2015 09:00AM','Jan 28 2012 12:00PM'}, columns = ['date'])
df['date'] = pd.to_datetime(df['date'], format='%b %d %Y %I:%M%p', utc=True)

df['time'] = df['date'].dt.time
df['minute'] = df['date'].dt.minute #dt.nanosecond, dt.microsecond, dt.second
df['hour'] = df['date'].dt.hour
df['day'] = df['date'].dt.day
df['day_of_year'] = df['date'].dt.dayofyear
df['week_number_of_year'] = df['date'].dt.week
df['month_of_year'] = df['date'].dt.month
df['current year'] = df['date'].dt.year

# Observe the result 
df

,date,time,minute,hour,day,day_of_year,week_number_of_year,month_of_year,current year
0,1999-08-27 00:00:00+00:00,00:00:00,0,0,27,239,34,8,1999
1,1999-08-28 00:00:00+00:00,00:00:00,0,0,28,240,34,8,1999
2,2015-05-01 09:00:00+00:00,09:00:00,0,9,1,121,18,5,2015
3,2005-06-01 13:33:00+00:00,13:33:00,33,13,1,152,22,6,2005
4,2012-01-28 12:00:00+00:00,12:00:00,0,12,28,28,4,1,2012